:root {
    --main-fg: #f1f3f4;
    --main-bg: #07080d;
    --post-bg: #161616;
    --link-fg: #ff5c53;
    --border: #3c4043;
    --button-bg: #333333;
    color-scheme: dark;
}

* {
    margin: 0;
    padding: 0;
    outline: unset;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    color: var(--main-fg);
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: var(--main-bg);
}

header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

nav ul {
    margin: 0;
    gap: 20px;
    padding: 0;
    display: flex;
    padding-top: 1rem;
    list-style: none;
    align-items: center;
    justify-content: center;
}

nav a {
    color: var(--link-fg);
}

main {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer {
    margin-top: 1rem;
    text-align: center;
}

.container {
    margin: auto;
    flex-wrap: wrap;
    max-width: 800px;
    min-height: 100vh;
    box-sizing: border-box;
}

.title {
}

.home-post-header {
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-post-title {
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.home-post-title a {
    color: var(--link-fg);
    text-decoration: none;
}

.home-post-summary {
    padding-bottom: 2rem;
}

.home-post-date {
    font-size: 0.9rem;
    white-space: nowrap;
}
