:root {
    --main-fg: #f1f3f4;
    --main-bg: #07080d;
    --post-bg: #161616;
    --link-fg: #ff5c53;
    --border: #3c4043;
    --button-bg: #333333;
    color-scheme: dark;
}

* {
    margin: 0;
    padding: 0;
    outline: unset;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-weight: 400;
    font-style: normal;
    color: var(--main-fg);
    background-color: var(--main-bg);
    font-family: "Space Mono", monospace;
}

a {
    color: var(--link-fg);
}

ul,
ol {
    margin: 0;
    padding-left: 1rem;
}

li {
    position: relative;
}

img {
    border: 0.1rem solid var(--link-fg);
}

header {
    padding-top: 1rem;
    text-align: center;
    padding-bottom: 2rem;
}

code {
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.nav-items {
    margin: 0;
    gap: 1rem;
    padding: 0;
    display: flex;
    padding-top: 1rem;
    list-style: none;
    align-items: center;
    justify-content: center;
}

nav a {
    color: var(--link-fg);
}

main {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

table {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-collapse: collapse;
}

tbody tr:nth-child(even) {
    background-color: var(--post-bg);
}

tbody tr:nth-child(odd) {
    background-color: var(--post-bg);
}

td,
th {
    padding: 0.5rem;
    border: 1px solid var(--border);
}

.container {
    margin: auto;
    flex-wrap: wrap;
    max-width: 800px;
    min-height: 100vh;
    box-sizing: border-box;
}

.title {
}

.home-post-header {
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-post-title {
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.home-post-title a {
    color: var(--link-fg);
    text-decoration: none;
}

.home-post-summary {
    padding-bottom: 2rem;
}

.home-post-date {
    opacity: 0.5;
    font-size: 0.8rem;
    white-space: nowrap;
}

.post-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.post-nav {
    margin-top: 1rem;
    padding: 0.5rem;
    border: 0.1rem solid var(--border);
}

.post-meta {
    opacity: 0.5;
}

.toc-title {
    margin-top: 0.5rem;
}

.toc {
    padding: 0.5rem;
    background-color: var(--post-bg);
}

#TableOfContents ul {
    margin: 0;
    padding-left: 1rem;
}

#TableOfContents li {
    position: relative;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    margin-top: 1rem;
}

.post-content p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
    margin-top: 0;
}

.archive-year {
    margin-top: 1rem;
}

.tags {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.tags-title,
.term-title {
    margin-bottom: 1rem;
}

img {
    display: block;
    max-width: 100%;
}

code {
    font-size: 15px;
    font-family: monospace;
}

.codeblock {
    padding: 0.2rem;
    margin-top: 0.2rem;
    max-width: fit-content;
}

.codeblock,
code,
pre {
    background-color: var(--post-bg);
}

pre {
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.highlight {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    background-color: var(--post-bg);
    overflow-x: auto;

    * {
        background-color: var(--post-bg) !important;
    }

    span[style*="background-color"] {
        background-color: var(--post-bg) !important;
    }
    span[style*="background-color"] span {
        background-color: var(--post-bg) !important;
    }
}

.codeblock-type {
    padding: 0.1rem;
}

#callout,
blockquote {
    margin: 0;
    padding: 0.1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: var(--post-bg);
    border: 0.1rem solid var(--border);
    border-left: 0.3rem solid var(--border);
}

blockquote {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#callout.Tip {
    background-color: var(--post-bg);
    border-color: var(--border);
}

.social-icons {
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
